{% extends "base.html" %} {% block content %}
<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{singleproperty.title}}</h1>
          <span class="color-text-a">{{singleproperty.city}}, {{singleproperty.state}} {{singleproperty.zipcode}}</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-box d-flex justify-content-lg-end"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="property-grid.html">Properties</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{singleproperty.title}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div
          id="property-single-carousel"
          class="owl-carousel owl-arrow gallery-property"
        >
        {% for images in singleproperty.listingImages.all %}
        <div class="carousel-item-b">
          <img src="{{images.image.url}}" alt="" />
        </div>
        {% endfor %}
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="ion-money">$</span>
                </div>
                <div class="card-title-c align-self-center">
                  <h5 class="title-c">{{singleproperty.price}}</h5>
                </div>
              </div>
            </div>
            <div class="property-summary">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Quick Summary</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong>Property ID:</strong>
                    <span>1134</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Location:</strong>
                    <span>{{singleproperty.city}}, {{singleproperty.state}} {{singleproperty.zipcode}}</span>
                  </li>
  
                  <li class="d-flex justify-content-between">
                    <strong>Status:</strong>
                    <span>{{singleproperty.property_status}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Area:</strong>
                    <span
                      >{{singleproperty.Area}}m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Beds:</strong>
                    <span>{{singleproperty.bedroom}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Baths:</strong>
                    <span>{{singleproperty.bathroom}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>publication date:</strong>
                    <span>{{singleproperty.created}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Property Description</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <p class="description color-text-a">
                {{singleproperty.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row section-t3">
          <div class="col-sm-12">
            <div class="title-box-d">
              <h3 class="title-d">Contact Agent</h3>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-6 col-lg-4">
            <img src="{{singleproperty.realtor.photo.url}}" alt="" class="img-fluid" />
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="property-agent">
              <h4 class="title-agent">{{singleproperty.realtor.name}}</h4>
              <p class="color-text-a">
                {{singleproperty.realtor.description}}
              </p>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between">
                  <strong>Phone:</strong>
                  <span class="color-text-a">{{singleproperty.realtor.phoneNumber}}</span>
                </li>
                <li class="d-flex justify-content-between">
                  <strong>Email:</strong>
                  <span class="color-text-a">{{singleproperty.realtor.email}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="property-contact">
              <form class="form-a" method="post">
                <div class="row">
                  <div class="col-md-12 mb-1">
                    <div class="form-group">
                      {% csrf_token %}
                      {{form}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-a">
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Property Single End /-->
{% endblock content %}
